
.user-action-div{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 250px) );
    justify-content: center;
}

.text-m{
    margin: 5px;
}

.user-action-video{
    display: grid;
}

