.video-card{
    margin:10px 0px 10px 10px;
    /* grid-column:1/-1;
    grid-row:1/2 */ 
    /* THIs is culprit */
}

.video-card-for-badge{
    margin:10px 0px 10px 10px;
     grid-column:1/-1;
    grid-row:1/2  
}

.video-card-badge{
    display:grid;   
}

.video-badge{
    grid-column: 1/-1;
    grid-row:1/2;
    justify-self: end;
    color: cyan; 
    margin: 20px 20px 0px 0px;
    font-size: 2rem;
    cursor: pointer;
    
}

.text-margin{
    margin:5px
}

.mr-r{
    margin-right: 10px;
}

.btn-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    font-size: 1.2rem;
    padding:5px;
    color: var(--primary-color);

}